body {
  color: darkblue;
  font-family: 'FiraSans-Regular', Arial, Helvetica, sans-serif;
}

.container {
  margin-inline: auto;
  border-radius: 10%;
  width: min(90%, 70.5rem);
  padding: 5px;
  border-style: solid;
  border-color: rgb(192, 127, 81);
  background-color: rgba(244, 200, 130, 0.909);
  text-align: left;
  font-family: myFirstFont;
  font-size: 1em;
}

.split {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
}

.ruta {
  color: darkblue;
  height: 250px;
  padding: 5px;
  border-radius: 10%;
  border-style: solid;
  font-size: 1em;
  margin: 0.5em;
}

#ruta1 {
  height: auto;
  border-radius: 10%;
  text-align: justify;
  background-color: rgba(196, 255, 205, 0.968);
  border-color: rgba(74, 185, 91, 0.968);
  margin: 0.5em;
}

#ruta2 {
  color: darkblue;
  height: auto;
  border-color: rgb(111, 165, 30);
  background-color: rgb(237, 240, 133);
  margin: 0.5em;
}

#ruta3 {
  height: auto;
  border-radius: 10%;
  background-color: #60f49ef7;
  border-color: rgba(44, 126, 57, 0.76);
  margin: 0.5em;
}

#anmälan #medverka {
  padding: 5px;
  border-radius: 10%;
  border-style: solid;
  border-color: rgb(192, 127, 81);
  background-color: rgba(196, 255, 205, 0.968);
  color: darkblue;
  text-align: left;
  font-size: 1em;
  margin: 0.5em;
}

#medverka {
  border-color: beige;
  border: solid;
  margin-top: 10px;
  border-radius: 10%;
  margin: 0.5em;
}

#program {
  padding-left: 5px;
  border-style: solid;
  border-color: rgb(184, 168, 78);
  background-color: rgba(242, 233, 129, 0.909);
  text-align: left;
  font-size: 1em;
  margin: 0.5em;
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  background-color: rgb(190, 103, 252);
  /* border: 3px, solid; */
  margin: auto;
  gap: 20px;
  justify-items: center;
  justify-content: space-evenly;
  margin: 0.5em;
}

.ett,
.två,
.tre,
.fyra {
  display: flex;
  gap: 0.2em;
  justify-content: center;
  margin: 0.5em;
  /* column-width: 80%; */
  background-color: rgb(114, 174, 235);
  border-radius: 10%;
  border-style: double;
  border-color: rgb(36, 15, 174);
  text-align: center;
}

#footer {
  font-size: 0.8em;
  text-align: center;
  margin: 0.5em;
}

.leading {
  line-height: 20px;
  margin: 0.5em;
}

@font-face {
  font-family: myFirstFont;
  src: url('FiraSans-Regular.ttf');
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
    margin: 0.5em;
  }

  .split>* {
    flex-basis: 100%;
    margin: 0.5em;
  }

  .split>*+* {
    margin: 0.5em;
  }
}

@media screen and (max-width: 500px) and (min-width: 200px) {
  body {
    background-color: rgb(203, 203, 238);
  }

  .box {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    background-color: rgb(212, 156, 156);
  }

  footer {
    font-size: 8px;
  }
}

@media screen and (max-width: 700px) and (min-width: 501px) {
  body {
    background-color: rgb(199, 162, 70);
  }

  .box {
    background-color: rgb(183, 192, 143);
  }
}

@media screen and (max-width: 1220px) and (min-width: 701px) {
  body {
    background-color: rgb(189, 124, 154);
  }

  .box {
    background-color: rgb(147, 164, 177);
    justify-content: center;
  }
}
